<div
  fxLayout="column"
  fxLayoutGap="10px"
  style="text-align:right; position:absolute;right:1rem;top:1rem">
  <mat-checkbox [(ngModel)]="autoplay" color="primary">Autoplay</mat-checkbox>
  <mat-checkbox *ngIf="!autoplay" [(ngModel)]="infinite" color="primary">Infinite</mat-checkbox>

  <mat-slide-toggle
    color="primary"
    [(ngModel)]="directionToggle" (change)="toggleDirection($event)">
    {{directionToggle ? 'go right' : 'go left'}}
  </mat-slide-toggle>
</div>


<ngx-hm-carousel
  [current-index]="index"
  [infinite]="infinite"
  [autoplay]="autoplay"
  [autoplay-direction]="direction"
  [autoplay-speed]="3000"
  [between-delay]="2000"
  (index-change)="switchIndex($event)">

    <section
      ngx-hm-carousel-container
      class="pane-container">
      <article class="pane cursor-pointer"
        *ngFor="let avatar of avatars; let i = index;"
        (ngx-hm-carousel-item)="openGallery($event)"
        [style.backgroundImage]="avatar.url | safe:'background-image'">
        <div class="inner">
          <header>
            <p>{{i}}</p>
            <h2>{{avatar.name}}</h2>
          </header>
        </div>
      </article>
    </section>

    <ng-template  #carouselPrev>
      <i class="material-icons icon" style="font-size:50px;">keyboard_arrow_left</i>
    </ng-template>

    <ng-template #carouselNext>
      <i class="material-icons icon" style="font-size:50px;">keyboard_arrow_right</i>
    </ng-template>

    <ng-template #carouselDot let-model>
        <div class="ball"
          [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>

    <ng-template #carouselProgress let-model>
        <div class="progress" [style.width]="model.progress + '%'"></div>
    </ng-template>

</ngx-hm-carousel>
<div style="padding-top:1rem">
  <button mat-raised-button color="warn" (click)="switchIndex(0)">Go Index 0</button>
  <button mat-raised-button color="primary" (click)="switchIndex(2)">Go Index 2</button>
  <button mat-raised-button color="accent" (click)="switchIndex(4)">Go Index 4</button>
</div>
