/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-cyan, 50);
$app-accent:mat-palette($mat-deep-orange, 300);
$app-warn:mat-palette($mat-pink, 300);
$app-theme:mat-dark-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
body {
  background: black;
  color: white;
}

.progress {
  width: 0%;
  height: 5px;
  background: mat-color($app-warn);
  position: absolute;
  bottom: 0;
  &.top {
    top: 0;
    bottom: auto;
  }
}

.icon {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

ul li {
  padding: 0 0 0 4em;
}

ul li span {
  font-size: 2em;
}

.pane-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 0;
}

.pane-container.transition {
  transition: left .4s ease-in-out;
}

.pane {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80rem;
  font-size: 3rem;
  h2 {
    font-size: 7rem;
  }
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.35);
  &.visible {
    background: white;
  }
}

.center {
  text-align: center;
}

h2 {
  color: white;
  font-size: 2em;
}

.cursor-pointer{
  cursor: pointer
}
